body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #fafafa;
    color: #333;
}

header {
    background-color: white;
    color: white;
    text-align: center;
    padding: 2em 0;
}

main {
    padding: 2em;
}

h1, h2 {
    font-weight: bold;
}

.menu {
    margin-bottom: 3em;
}

.card {
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    overflow: hidden;
    max-width: 300px;
    margin: 1em;
    display: inline-block;
    text-align: center;
}

.card img {
    width: 100%;
    height: auto;
}

footer {
    background-color: black;
    color: white;
    text-align: center;
    padding: 1em 0;
}

footer p {
    margin: 0;
}


/* FOOTER */
